.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: #fff;
}

.sidebar,
.content {
  min-height: 100vh;
  max-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 8rem 0 0 0;
  align-items: center;
  flex: 1;
  width: 20%;
  background: yellow;
  background-image: linear-gradient(to right top,#0a1332, #232d52);
}

.content {
  flex: 3.2;
  width: 80%;
  background: purple;
  padding: 4rem;
  background: #fff;
}

.btn {
  width: 10rem;
  background: #0a9f82;
  outline: none;
  border: none;
  padding: 8px 30px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: -1rem;
}

/* SIDEBAR */
.profile {
  margin: 0 0 2.5rem 0;
}

.menu {
  margin: 0 0 2rem 0;
}

.profileContainerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuContainerList {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.menuItem {
  cursor: pointer;
  list-style: none;
  margin: 0 0 20px 0;
}
